@font-face {
  font-family: "Codec";
  src: local("Codec"), url("./fonts/codec-pro.regular.ttf") format("truetype");
}
@font-face {
  font-family: "Arapey";
  src: local("Arapey"), url("./fonts/Arapey-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fredoka";
  src: local("Fredoka"),
    url("./fonts/Fredoka-VariableFont_wdth\,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url("./fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf")
      format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto-Medium.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 20px 0;
}

.logincontainer {
  display: flex;
  height: 100vh;
}

.loginleftcontainer {
  background: url("./images/background.jpg");
  flex: 1;
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginleftinnercontainer {
  margin-top: 4rem;
  text-align: center;
}

.loginleftcontainer img {
  width: 100%;
  max-width: 500px;
  border-bottom: 2px dashed white;
}

.loginrightcontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginrightinnercontainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  max-width: 450px;
}

.loginrightinnercontainer label,
input {
  display: block;
  width: 100%;
}
.loginform label {
  font-family: "Nunito";
  font-weight: 600;
  color: #000000;
}

.loginrightinnercontainer div:nth-child(2) {
  margin-top: 2rem;
}

.loginflex {
  display: flex;
  align-items: center;
}

.loginrightcontainer img {
  width: 50px;
}

.loginrightcontainer input {
  border: 1px solid #e8e8e8;
  padding: 0.6rem 0.4rem;
  font-size: 1rem;
  border-radius: 5px;
}

.loginrightcontainer input:focus {
  outline: none !important;
  border: 2px solid #b8b8b8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 0 3rem;
  background: #ffffff;
}
.logo {
  width: 35px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.navbarFredoka {
  font-family: Fredoka;
  margin-left: 0.5rem;
}

.refresdark {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.but {
  width: 120px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #9ca3af;
  border-radius: 4px;
  margin-right: 5px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresdark button:hover {
  background: #5a73ef;
  color: #ffffff;
  transition: 0.5s;
}

.bodyContent {
  display: flex;
}
.sidebar {
  position: fixed;
  height: 100%;
  top: 80px;
  background-color: white;
  width: 100px;
  z-index: 999;
}
.sidebarNavlink {
  text-decoration: none;
  text-align: center;
  color: #1976d2;
  width: 100%;
  padding: 1rem 0.5rem;
}

.sidebarNavlink.active {
  background-color: #1976d2;
  color: white;
}

#bodyContentRight {
  margin-left: 100px;
  margin-top: 80px;
}

.user-info {
  padding: 10px;
  width: 500px;
}

.editform {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.editsubmit {
  width: 100%;
}
.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tablist {
  background-color: whitesmoke;
  margin-left: 20px;
  height: 50px;
  border-bottom: 1px dashed #9ca3af;
  background-color: white;
}

.tab-panel {
  padding: 20px;
}

.tab-panel form {
  margin-top: 10px;
}

.tab-panel span {
  font-weight: bold;
}

.tab-panel input[type="password"],
.tab-panel input[type="submit"] {
  margin-top: 2px;
  padding: 8px;
  border: 1px solid #ccc;
  background: #ffffff;
  align-self: center;
}

.tab-panel input[type="submit"] {
  background-color: #0d7cd7;
  color: #fff;
  border: none;
  cursor: pointer;
}

.tab-panel input[type="submit"]:hover {
  background-color: #45a049;
}

.value {
  padding: 8px;
  border: 1px solid #ccc;
  background: #ffffff;
  border-radius: 4px;
}

.label {
  font-family: Nunito;
  font-weight: bold;
  color: #828282;
}

body {
  font-family: sans-serif;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

.posts {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.title a {
  text-decoration: none;
  font-size: 1.5em;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container nav {
  display: flex;
  font-size: 1.5em;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
}

label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: #0d7cd7;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

form.signup,
form.login {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: transparent;
  border-radius: 4px;
}

form.signup label {
  color: #000000;
}

.submitcreateuser {
  width: 100%;
}

.tableCell {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.dashboardTopContainer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  border-radius: 10px;
}

.createProductBox {
  background-color: white;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 4px;
}
.createProductBox.dark {
  background-color: #373333;
  color: #ffffff;
}

.createProductlistElement {
  display: flex;
}

.createProductlistElement :hover {
  background-color: #e7ebf0;
}

.ContainerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  font-family: "Nunito";
  font-weight: 600;
  color: #828282;
}

.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.button {
  background-color: #1976d2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #1568c0;
}

.error {
  color: red;
  margin-top: 10px;
}

.success-alert {
  position: fixed;
  top: 1px;
  animation: fadeOut 3s linear forwards;
  z-index: 1000;
  width: 50%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Loader CSS */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #16679c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* daaaaaark and white */

/* Light theme */
body.light {
  background-color: #ffffff;
  color: #000000;
}

.navbar.light {
  background-color: #f3f4f6;
  color: #000000;
}

.but.light {
  background-color: #ffffff;
  color: #4b5563;
}

/* Dark theme */
body.dark {
  background-color: #000000;
  color: #ffffff;
}

.navbar.dark {
  background-color: #000000;
  color: #ffffff;
}

.but.dark {
  background-color: #030303;
  color: #ffffff;
}

/* dashboard  */

.dashboardTopContainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
  margin-right: 1rem;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

.light {
  background-color: #f5f5f5;
  color: #000000;
}

.tableCell {
  padding: 1rem;
}

.TableContainer.dark {
  background-color: #000000;
  color: #ffffff;
}

.TableHead.dark {
  background-color: #000000;
  color: #ffffff;
}
.TableCell.dark {
  background-color: #000000;
  color: #ffffff;
}

.TableContainer.dark {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff; /* Add this line */
}

.dark .tableCell {
  color: #ffffff;
}

.dark .search-input {
  border-color: #ffffff;
}

.dashboardTopContainer.dark {
  background-color: #373333;
  color: #ffffff;
}

.refresdark.dark button:hover {
  background: #373333;
  color: white;
  transition: 0.5s;
}

.addproductbuttoncontainer {
  margin: 1rem;
  margin-top: 2rem;
  max-width: 300px;
}

.sidebar.dark {
  background-color: #373333;
  color: #ffffff;
}

.createproductnotificationbox {
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  height: 40px;
  border-radius: 4px;
}

.updatevariantnotificationbox {
  padding: 0.5rem 1rem;
}

.editProductMainMessageContainer {
  margin: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.react-tabs__tab {
  border: none;
}

.TextField.dark {
  background-color: #373333;
  color: #ffffff;
}

.Editprofile.dark {
  background-color: #373333;
  color: #ffffff;
}

.tablist.dark {
  background-color: #000000;
  color: #ffffff;
}

.value.dark {
  background-color: #373333;
  color: #ffffff;
  border: none;
}
.panel.dark#password {
  margin-top: 2px;
  padding: 8px;
  border: none;
  background: #373333;
  align-self: center;
}

.label.dark {
  color: #ffffff;
}
